
@{
    ViewData["Title"] = "ExperienciaLaboral";
}

<div class="container" style="background-color:white;padding:20px;">

    <div class="row">
        <div class="col-sm-1">
            <img src="~/img/Foto.jpeg" class="rounded float-start" width="50px" alt="Fotografia Perfil" />
        </div>
        <div class="col-sm-11">
            <h2 class="display-6">
                Jessica Guadalupe Delgado Chavez
            </h2>
            <p>
                <strong>TSU Desarrollo de Ssoftware Multiplataforma</strong>
            </p>
            @Html.ActionLink("Datos Personales", "Index", "Home", null, new { @class = "btn btn-primary" })
            @Html.ActionLink("Preparación Académica", "PreparacionAcademica", "Academica", null, new { @class = "btn btn-primary" })
        </div>
        
    </div>

    <div class="row">
        
        <div class="card">
            <div class="card-body">
                <strong>EXPERIENCIA</strong>
                <table id="tblAcademica">
                    <tr>
                        <td>1 año <i class="bi bi-clock-history"></i></td>
                        <td>
                            <strong>Distribuidora de productos a bajo precio</strong> <br />
                            <ul>
                                <li> Atención a cliente. </li>
                                <li> Acomodo de mercancía. </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2020 - 2023 <i class="bi bi-clock-history"></i></td>
                        <td>
                            <strong>Textiles León S.A. de C.V.</strong> <br />
                            <ul>
                                <li> Encargada de reportar salida de mercancía en SAP. </li>
                                <li> Organizar y entregar archivo muerto. </li>
                                <li> Basculado de mercancía. </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>2023 -      <i class="bi bi-clock-history"></i></td>
                        <td>
                            <strong>Grupo Castores</strong> <br />
                            <ul>
                                <li> Analista Desarrollador. (2023-Actualidad)</li>
                            </ul>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</div>
